# systemd config file for ch-frb-l1 -- copy to /etc/systemd/system/

[Unit]
Description=ch-frb-l1 - CHIME/FRB L1 server
After=network.target

[Service]
Type=simple

User=l1operator
WorkingDirectory=/home/l1operator/ch_frb_l1
ExecStart=/home/l1operator/ch_frb_l1/ch-frb-l1-dispatch.sh
Restart=on-abnormal

# [Install]
# WantedBy=multi-user.target
