<!doctype html>
<html>
<head>
<title>CHIME FRB L1 status</title>

<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='d3.min.js') }}"></script>

<style>
table {
border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
}
</style>

</head>

<body>

<h3>Current L1 node acquisition status</h3>

<p>
<input type="button" onClick="stopUpdating()"  value="Stop updating" />
<input type="button" onClick="startUpdating()" value="Start updating"/>
<span id="json-status"> </span>
Last update: <span id="last-update">--</span>
</p>

<table border="1">
<tr><td>
Acquisition name: <input type="text" size="20" id="acq_name">
    Device: <select id="acq_dev">
    <option value="ssd">SSD</option>
    <option value="nfs">NFS</option>
    </select><br />
Notes about this acquisition:<br />
<textarea cols="50" rows="5" id="acq_meta"></textarea>
    <br />
    <br />
<input type="button" value="Start Acquisition on all nodes"
onClick="startAcq();" style="font-size:125%;">
<input type="button" value="Stop Acquisition on all nodes"
onClick="stopAcq();" style="font-size:125%;">
    <br />
<span id="acq_status"></span>
</td></tr>
</table>

    <br />
    <br />
    
<table border="1">
  <tr>
    <th>Node</th><th>Current Acq Name</th><th>Size</th><th>SSD free GB</th><th>Status</th>
  </tr>
  {% for i,node in enodes %}
  <tr>
    <td>{{node}}</td><td id="node_acq_{{i}}">---</td>
    <td id="node_acqsize_{{i}}">---</td>
    <td id="node_ssd_free_{{i}}">---</td>
    <td id="node_status_{{i}}">---</td>
  </tr>
{% endfor %}
</table>
  
<br><hr><br>

<script type="text/javascript">
// Are we updating the plot?
var do_update = true;

// How many milliseconds between updates?
var update_period = 10000;


function json_callback(X, repeat) {
    //console.log('JSON callback: ' + X);

    if (!do_update) {
        $('#json-status').html('Stopped.');
        return;
    }
    
    if (X == null) {
        $('#json-status').html('Empty reply');
        if (repeat)
            setTimeout('json_update(true)', update_period);
        return;
    }
    $('#last-update').html(new Date());
    $('#json-status').html('Got reply');

    //
    var status = X;
    for (var i=0; i<status.length; i++) {
        var st = status[i];
        if (st == null) {
            var sel = '#node_status_'+i;
            $(sel).html('Status query timed out');
            var sel = '#node_acq_'+i;
            $(sel).html('---');
            continue;
        }
        var fn = status[i]['stream_filename'];
        fn = fn.replace('beam_(BEAM)/chunk_(CHUNK).msg', '');
        var sel = '#node_acq_'+i;
        if (fn.length == 0) {
            fn = '(none)';
        }
        $(sel).html(fn);

        var val = status[i]['stream_gb_used'];
        var sel = '#node_acqsize_'+i;
        $(sel).html(val);

        var val = status[i]['ssd_gb_free'];
        var sel = '#node_ssd_free_'+i;
        $(sel).html(val);
    }

    if (repeat)
        setTimeout('json_update(true)', update_period);
}

// Make a JSON request for the packet matrix; call "json_callback"
function json_update(repeat) {
    $('#json-status').html('Sending...');
    d3.request('/acq-status-json')
        .mimeType("application/json")
        .response(function(xhr) { return JSON.parse(xhr.responseText); })
        .get(function(X) { json_callback(X, repeat); });
}

function startUpdating() {
    do_update = true;
    json_update(true);
}
function stopUpdating() {
    do_update = false;
}

function startAcq() {
    meta = {};
    meta['notes'] = $('#acq_meta').val();
    jmeta = JSON.stringify(meta);
    console.log('JSON metadata:', jmeta);

    acqname = $('#acq_name').val();
    console.log('Acq name:', acqname);
    acqdev = $('#acq_dev').val();
    console.log('Acq device:', acqdev);

    args = {};
    args['acqname'] = acqname;
    args['acqdev'] = acqdev;
    args['acqmeta'] = jmeta;
    jargs = JSON.stringify(args);

    $('#acq_status').html('Sending request...');
    
    d3.request('/acq-start')
        .mimeType("application/json")
    	.header('Content-Type', 'application/json')
        .response(function(xhr) { return JSON.parse(xhr.responseText); })
        .post(jargs, function(err,X) { acq_callback(err, X, 'Started'); });
}

function stopAcq() {
    args = {};
    args['acqname'] = '';
    args['acqdev'] = '';
    args['acqmeta'] = '';
    jargs = JSON.stringify(args);
    $('#acq_status').html('Sending request...');
    d3.request('/acq-start')
        .mimeType("application/json")
    	.header('Content-Type', 'application/json')
        .response(function(xhr) { return JSON.parse(xhr.responseText); })
        .post(jargs, function(err,X) { acq_callback(err, X, 'Stopped'); });
}

function acq_callback(err, X, oktxt) {
    if (X == null) {
        $('#acq_status').html('Request failed: ' + err);
        return;
    } else {
        $('#acq_status').html('Request finished');
    }
    for (var i=0; i<X.length; i++) {
        var ok = (X[i] != null) && X[i][0];
        console.log('ok: ' + ok);
        var sel = '#node_status_' + i;
        if (ok) {
            $(sel).html(oktxt);
        } else {
            if (X[i] != null) {
                $(sel).html(X[i][1]);
            } else {
                $(sel).html('Timed out');
            }
        }
    }
    json_update(false);
}

$(document).ready(function() {
    // Fetch first data set!
    setTimeout('json_update(true)', 1000);
});

</script>

</body>
</html>
