{% extends 'layout.html' %}
{% block body %}
  <div class="jumbotron text-center">
  <h1> Welcome to CHIME/FRB Operations</h1>
  <p class="lead"> This is the operations site for CHIME/FRB. You can use this to launch the L1 service on all available nodes. You can also initiate/terminate data acquisitions.</p>
  <div class="container">
  </div>
  <img class="img-responsive" src="https://chime-experiment.ca/images/figures/telescope-figure-4.JPG" alt="Cinque Terre" style="width:100%"> 
  </div>
{% endblock %}
