<!doctype html>
<html>
<head>
<title>CHIME FRB L1 status</title>

<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='d3.min.js') }}"></script>

</head>

<body id="thebody">

<style>
</style>
<script type="text/javascript">
</script>

<h3>CHIME FRB L1 status</h3>

<table>
  <tr>
    <td>
    {% for host in hosts %}
      <td>{{host}}</td>
    {% endfor %}
  </tr>
  <tr>
    <td>UP</td>
    {% for host in hosts %}
      <td>
      {{ up[host] }}
      </td>
    {% endfor %}
  </tr>
</table>


<br><hr><br>

<iframe src="http://localhost:3000/dashboard-solo/db/single-l1-beam-ring-buffer?orgId=2&panelId=3" width="450" height="250" frameborder="0"></iframe>

</body>
</html>
