<!doctype html>
<html>
<head>
<title>CHIME FRB L1 node status</title>

<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='d3.min.js') }}"></script>

</head>

<body id="thebody">

<style>

.chart rect {
  fill: steelblue;
    stroke: black;
}

.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

</style>
<script type="text/javascript">

var loaded = function(result) {
    console.log('JSON loaded: ' + result);
    for (var i=0, len=result.length; i<len; i++) {
        node = result[i];
        console.log('node ' + node);
        $('#node_status_' + i).html(node['status']);

        ch = node['chunks'];

        // Show chunk numbers, not fpga counts.
        var Nchunk = 1024 * 400;

        var chunk_lo = [];
        var chunk_hi = [];
        var dchunk = []
        var chunk_range = []
        for (var j=0; j<ch.length; j++) {
            var lo = ch[j][1] / Nchunk;
            var hi = ch[j][2] / Nchunk;
            chunk_lo.push(lo);
            chunk_hi.push(hi);
            dchunk.push(hi - lo);
            chunk_range.push([lo, hi]);
        }
        console.log('chunk lo: ' + chunk_lo);
        console.log('chunk hi: ' + chunk_hi);
        console.log('dchunk: ' + dchunk);

        var lolo = d3.min(chunk_lo);
        var hihi = d3.max(chunk_hi);

        console.log('overall range: ' + lolo + ' to ' + hihi);

        var margin = {top: 20, right: 30, bottom: 30, left: 40},
        width = 960 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

        var x = d3.scaleLinear()
            .domain([lolo, hihi])
            .range([0, width]);

        var y = d3.scaleLinear()
            .domain([0, chunk_range.length])
            .range([0, height]);

        var barHeight = y(1) - y(0);

        var chart = d3.select('#node_chunks_' + i)
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        var bar = chart.selectAll("g")
            .data(chunk_range)
            .enter().append("g")
            //.attr("transform", function(d, i) { return "translate(" + x(d[0]) + ",0)"; });
            .attr("transform", function(d, i) { return "translate(" + x(d[0]) + "," + y(i) + ")"; });

        bar.append("rect")
            .attr("width", function(d) { return x(d[1]) - x(d[0]); })
            .attr("height", barHeight - 1);

        bar.append("text")
            .attr("x", 0)
            .attr("y", barHeight / 2)
            .attr("dy", ".35em")
            .text(function(d) { return d; });
    }
  };

  $(document).ready(function() {
    console.log('hello ready');
    $.getJSON('{{ node_status_url }}', loaded);
  });

  console.log('hello main');

</script>

<h3>CHIME FRB L1 node status</h3>

{% for i,node in nodes %}
<div>
  <p>{{ node }}</p>
  <div id="node_status_{{i}}"></div>
  <svg class="chart" id="node_chunks_{{i}}"></div>
</div>
{% endfor %}

</body>
</html>
