<!doctype html>
<html>
<head>
<title>CHIME FRB L1 logs</title>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='d3.min.js') }}"></script>
</head>

<style>
table {
    border-collapse: collapse;
}
td {
    padding: 5px;
    text-align: left;
}
th {
    padding: 5px;
    text-align: center;
}
</style>

<body>

  <h3>CHIME/FRB L1 Logs</h3>

  <p>Filters:
    <ul>
      {% for logfilt,logtag in logfilters %}
      <li>{{ logfilt }}</li>
      {% endfor %}
    </ul>
  </p>
  
  <table border="1"><tr><th>Node</th><th>Thread</th><th>Level</th><th>Where</th><th>Date</th><th>Message</th></tr>
    {% for log in logs %}
    <tr>
      <td>{{ log.host }}</td>
      <td>{{ log.thread }}</td>
      <td>{{ log.level }} </td>
      <td>{{ log.filename }}:{{ log.linenum }}</td>
      <td>{{ log.date|string()|truncate(23, True, '', 0) }}</td>
      <td>{{ log.msg }}</td>
    </tr>
    {% endfor %}
  </table>
  
</body>

</html>
