<!doctype html>
<html>
<head>
<title>CHIME FRB L1 service</title>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='d3.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-4/css/bootstrap.min.css') }}">

<style>
table {
    border-collapse: collapse;
}
td {
    padding: 3px;
    text-align: left;
}
th {
    padding: 3px;
    text-align: center;
}

{
.bigbutton { font-size:125%; padding:2px; padding-left:10px; padding-right:10px; font-weight: bold}
}
</style>

</head>

<body>
  {% include 'includes/_navbar.html'%}
  <h2>CHIME/FRB L1 Service</h2>

	<form action="{{ service_url }}/start/all" style="display: inline;">
	<input type="submit" value="Start ch-frb-l1 service on all nodes" class="bigbutton">
	</form>

	<form action="{{ service_url }}/stop/all" style="display: inline;">
	<input type="submit" value="Stop ch-frb-l1 service on all nodes" class="bigbutton">
	</form>

	<form class="chfrb-show-summary" style="display: inline;">
	<input type="submit" value="Show Summary" class="bigbutton">
	</form>

	<form class="chfrb-hide-summary" style="display: inline;">
	<input type="submit" value="Hide Summary" class="bigbutton">
	</form>

	<form class="chfrb-show-stats" style="display: inline;">
	<input type="submit" value="Show Status" class="bigbutton">
	</form>

	<form class="chfrb-hide-stats" style="display: inline;">
	<input type="submit" value="Hide Status" class="bigbutton">
	</form>

	<hr>
  <table border=1 align="center">
    {% for rack in status %}
      <tr>
	{% for key,value in rack.items() %}
          <td valign="middle" bgcolor="#35e0dd">
          <h3>
          rack {{key}} <br>
            <form action="{{ service_url }}/start/rack{{key}}" style="display: inline;">
            <input type="submit" value="Start" class="bigbutton">
            </form>
            <br>
            <form action="{{ service_url }}/stop/rack{{key}}" style="display: inline;">
            <input type="submit" value="Stop" class="bigbutton">
            </form>
          </h3>
          <br>
          </td>
        {% for node,summary,stat in value %}
          {% if "running" in summary %}
              <td class="on chfrb-status" valign="middle" bgcolor="#90c417">
          {% elif "inactive" in summary %}
              <td class="idle chfrb-status" valign="middle" bgcolor="#dde238">
          {% elif "Active" in summary %}
              <td class="idle chfrb-status" valign="middle" bgcolor="#b74242">
          {% else %}
              <td class="off chfrb-status" valign="middle" bgcolor="lightgray">
          {% endif %}
            <a name="node{{loop.index}}"></a>
              <h3>
                {{ node }}<br>
                <form action="{{ service_url }}/start/{{node}}" style="display: inline;">
                <input type="submit" value="Start" class="bigbutton">
                </form>
                <br>
                <form action="{{ service_url }}/stop/{{node}}" style="display: inline;">
                <input type="submit" value="Stop" class="bigbutton">
                </form>
                <br>
              </h3>
                <div class="chfrb-summary" style="display:none; z-level:1">
                  {{summary}}
                </div>
                <br>
                <div class="chfrb-stats" style="display:none; z-level:1">
                  {{stat}}
                </div>
              <!--<pre>{{stat}}</pre>-->
          </td>
        {% endfor %}
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
<!--	<h3>Status summary</h3>
	<table border="1">-->
	  <!--<tr><th>Node</th><th>Status</th></tr>-->
<!--	  {% for rack in status %}
	    <tr>
	      {% for key,value in rack.items() %}
                <td valign="middle" bgcolor="#17c484">rack {{key}}</td>
                {% for node,summary,stat in value %}
	          <td valign="middle" bgcolor="#90c417"><a href="#node{{loop.index}}">{{node}}</a><br>{{summary}}</td>-->
	          <!--<td>{{summary}}</t>-->
<!--	        {% endfor %}
	      {% endfor %}
	    </tr>
	  {% endfor %}
	  </table>-->
	<hr>

<script>
$( ".chfrb-show-summary" ).submit(function( event ) {
  $(".chfrb-summary").css('display', 'block');
  event.preventDefault();
});
$( ".chfrb-hide-summary" ).submit(function( event ) {
  $(".chfrb-summary").css('display', 'none');
  event.preventDefault();
})
$( ".chfrb-show-stats" ).submit(function( event ) {
  $(".chfrb-stats").css('display', 'block');
  event.preventDefault();
});
$( ".chfrb-hide-stats" ).submit(function( event ) {
  $(".chfrb-stats").css('display', 'none');
  event.preventDefault();
})
</script>
</body>

</html>
