<!doctype html>
<html>
<head>
<title>CHIME FRB L1 service</title>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='d3.min.js') }}"></script>
</head>

<style>
table {
    border-collapse: collapse;
}
td {
    padding: 5px;
    text-align: left;
}
th {
    padding: 5px;
    text-align: center;
}

{#
.bigbutton { font-size:125%; padding:2px; padding-left:10px; padding-right:10px; font-weight: bold}
#}
.bigbutton { font-size:110%; padding:2px; padding-left:10px; padding-right:10px;}
</style>

<body>

  <h2>CHIME/FRB L1 Service</h2>

	<form action="{{ service_url }}/start/all" style="display: inline;">
	<input type="submit" value="Start ch-frb-l1 service on all nodes" class="bigbutton">
	</form>

	<form action="{{ service_url }}/stop/all" style="display: inline;">
	<input type="submit" value="Stop ch-frb-l1 service on all nodes" class="bigbutton">
	</form>

	<hr>

  <table border="1" align="center">
    {% for rack in status %}
      <tr>
	{% for key,value in rack.items() %}
          <td valign="middle" bgcolor="#17c484">
          <h3>
          rack {{key}} <br>
            <form action="{{ service_url }}/start/rack{{key}}" style="display: inline;">
            <input type="submit" value="Start L1 on rack {{key}}" class="bigbutton">
            </form>
            <br>
            <form action="{{ service_url }}/stop/rack{{key}}" style="display: inline;">
            <input type="submit" value="Stop L1 on rack {{key}}" class="bigbutton">
            </form>
          </h3>
          <br>
          </td>
        {% for node,summary,stat in value %}
          <td valign="middle" bgcolor="#90c417">
            <a name="node{{loop.index}}">
              <h3>
                {{ node }}<br>
                <form action="{{ service_url }}/start/{{node}}" style="display: inline;">
                <input type="submit" value="Start L1" class="bigbutton">
                </form>
                <br>
                <form action="{{ service_url }}/stop/{{node}}" style="display: inline;">
                <input type="submit" value="Stop L1" class="bigbutton">
                </form>
                <br>
                {{summary}}
              </h3>
              <br>
              <!--<pre>{{stat}}</pre>-->
          </td>
        {% endfor %}
        {% endfor %}
      </tr>
    {% endfor %}
<!--  </table>
	<h3>Status summary</h3>
	<table border="1">-->
	  <!--<tr><th>Node</th><th>Status</th></tr>-->
<!--	  {% for rack in status %}
	    <tr>
	      {% for key,value in rack.items() %}
                <td valign="middle" bgcolor="#17c484">rack {{key}}</td>
                {% for node,summary,stat in value %}
	          <td valign="middle" bgcolor="#90c417"><a href="#node{{loop.index}}">{{node}}</a><br>{{summary}}</td>-->
	          <!--<td>{{summary}}</t>-->
<!--	        {% endfor %}
	      {% endfor %}
	    </tr>
	  {% endfor %}
	  </table>-->
	<hr>
</body>

</html>
