<!doctype html>
<html>
<head>
<title>Layout</title>

<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='d3.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-4/css/bootstrap.min.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap-4/js/bootstrap.min.js') }}"> </script>
</head>

<body>
  {% include 'includes/_navbar.html'%}
  <div class="container">
    {% include 'includes/_messages.html' %}
    {% block body %}{% endblock %}
  </div>
<script type="text/javascript">
</script>
</body>
</html>
