<!doctype html>
<html>
<head>
<title>CHIME FRB L1 status</title>

<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='d3.min.js') }}"></script>

</head>

<body id="thebody">

<style>
.good {
background-color: lightsteelblue;
}
.bad {
background-color: pink;
}
.rotate {
writing-mode: vertical-lr;
}
</style>

<script type="text/javascript">

var nl0 = 256;
var nl1 = 32;
var nodes = [];

function random(){
  return Math.floor(Math.random() * 256);
}

// initialize nodes
for (var i=0; i<nl1; i++){
    for (var j=0; j<nl0; j++){
        nodes.push({
            x: j,
            y: i,
            value: [random()]
        });
    }
}

var nodew = 3;
var nodeh = 8;

var svg = d3.select('body').append('svg').attr('width', nl0*nodew).attr('height', nl1*nodeh);

var rgb_nodes = svg.append('g').attr('class','nodes all');


function rgb(val, mn, mx) {
    //return 'rgb('+ array.map(function(r){return Math.round(r);}).join(',') +')';
    g = Math.round(255. * (val - mn) / (mx - mn));
    return 'rgb('+g+','+g+','+g+')';
}

rgb_nodes
    .selectAll('rect')
    .data(nodes)
    .enter().append('rect')
    .attr('x', function(node){return node.x * nodew;})
    .attr('y', function(node){return node.y * nodeh;})
    .attr('width',  nodew)
    .attr('height', nodeh)
    .style('fill', function(node){return rgb(node.value, 0, 255);})

function array_max(A) {
    return A.reduce(function(a, b) { return Math.max(a, b); });
}
function array_min(A) {
    return A.reduce(function(a, b) { return Math.min(a, b); });
}

//var last_packets = undefined;

function json_callback(X) {
    console.log('JSON callback: ' + X);

    packets = X['packets'];

    /*
      flatpackets = [];
      for (i=0; i<npackets.length; i++) {
      flatpackets.push.apply(flatpackets, npackets[i]);
      }
      console.log('Flatpackets:', flatpackets);
    */

     /*                              
     if (last_packets != undefined) {
        var pmax = packets[0] - last_packets[0];
        var pmin = packets[0] - last_packets[0];
        for (i=0; i<packets.length; i++) {
            nodes[i].value = packets[i] - last_packets[i];
            pmax = Math.max(pmax, nodes[i].value);
            pmin = Math.min(pmin, nodes[i].value);
        }
    } else {
        var pmax = array_max(packets);
        var pmin = array_min(packets);
        for (i=0; i<packets.length; i++) {
            nodes[i].value = packets[i];
        }
    }
    last_packets = packets;
    */
    var pmax = array_max(packets);
    var pmin = array_min(packets);
    for (i=0; i<packets.length; i++) {
        nodes[i].value = packets[i];
    }
    
    rgb_nodes.selectAll('rect').transition().style('fill', function(node){return rgb(node.value, 0, pmax);});

    // jquery update rate low/high text
    $('#rate_low').html(pmin.toFixed(3));
    $('#rate_high').html(pmax.toFixed(3));
    
    setTimeout('json_update()', 2000);
}

function json_update() {
    d3.request('{{ packet_matrix_json_url }}')
        .mimeType("application/json")
        .response(function(xhr) { return JSON.parse(xhr.responseText); })
        .get(json_callback);
}

json_update();
</script>

<p>
Rate range: <span id="rate_low">low</span> to <span id="rate_high">high</span>
</p>

</body>
</html>
