<!doctype html>
<html>
<head>
<title>CHIME FRB L1 status</title>

<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='d3.min.js') }}"></script>

</head>

<body id="thebody">

<div id="ratematrix"></div>

<style>
.good {
background-color: lightsteelblue;
}
.bad {
background-color: pink;
}
.rotate {
writing-mode: vertical-lr;
}
</style>

<script type="text/javascript">

var do_update = true;

var nl0 = {{ nl0 }}; //256;
var nl1 = {{ nl1 }}; //32;
var nodes = [];

function random(){
  return Math.floor(Math.random() * 256);
}

function node_url_l0(name, ip) {
    // FIXME
    return '/packets-l0/' + name + '/' + ip;
}
function node_url_l1(name) {
    return '/packets-l1/' + name;
}

// initialize nodes
for (var i=0; i<nl1; i++){
    for (var j=0; j<nl0; j++){
        nodes.push({
            x: j,
            y: i,
            value: [0]
        });
    }
}

var nodew = 3;
var nodeh = 8;
var top_margin = 20;
var left_margin = 20;

var svg = d3.select("#ratematrix").append('svg')
    .attr('width', left_margin + nl0 * nodew)
    .attr('height', top_margin + nl1 * nodeh);

var names_l0 = [];
for (var i=0; i<nl0; i++) {
    names_l0.push({ name: 'node' + i});
}

var names_l1 = [];
for (var i=0; i<nl1; i++) {
    names_l1.push({ name: 'node' + i});
}

function colormap_rainbow(f) {
    // from matplotlib._cm.py
    var r = Math.round(255. * Math.abs(2 * f - 0.5));
    var g = Math.round(255. * Math.sin(f * Math.PI));
    var b = Math.round(255. * Math.cos(f * Math.PI / 2));
    return 'rgb(' + r + ',' + g + ',' + b + ')';
}

function mouse_enter_l0(i) {
    //console.log('Mouseenter ' + node + i);
    highlight0.attr('x', left_margin + i * nodew);
    $('#select_l0')
        .attr('href', node_url_l0(names_l0[i].name, names_l0[i].ip))
        .html(names_l0[i].name);
}

function mouse_click_l0(node, i) {
    $('#click_l0')
        .attr('href', node_url_l0(names_l0[i].name, names_l0[i].ip))
        .html(names_l0[i].name);
}

function mouse_enter_l1(i) {
    //console.log('Mouseenter ' + node + i);
    highlight1.attr('y', top_margin + i * nodeh);
    $('#select_l1')
        .attr('href', node_url_l1(names_l1[i].name))
        .html(names_l1[i].name);
}

function mouse_click_l1(node, i) {
    $('#click_l1')
        .attr('href', node_url_l1(names_l1[i].name))
        .html(names_l1[i].name);
}

var title0 = svg.selectAll(".title0")
    .data(names_l0)
    .enter().append('a')
    .attr("xlink:href", function(d) { return ''; }) // /l0-status/' + d.name; })
    .attr("class", "link0")
    .append('rect')
    .attr("x", function(d, i) { return left_margin + i * nodew; })
    .attr("y", 0)
    .attr("height", top_margin)
    .attr("width", nodew)
    .style('fill', function(node, i){return colormap_rainbow(i / nl0);})
    .on('mouseenter', function(node, i) { mouse_enter_l0(i); })
    .on('click', function(node, i) { mouse_click_l0(node, i); });

//.on('mouseexit', function(node, i) { mouse_exit_l0(node,i); });

var title1 = svg.selectAll(".title1")
    .data(names_l1)
    .enter().append('a')
    .attr("xlink:href", function(d) { return '';}) // /l1-status/' + d.name; })
    .attr("class", "link1")
    .append('rect')
    .attr("x", 0)
    .attr("y", function(d, i) { return top_margin + i * nodeh; })
    .attr("height", nodeh)
    .attr("width", left_margin)
    .style('fill', function(node, i){return colormap_rainbow(i / nl0);})
    .on('mouseenter', function(node, i) { mouse_enter_l1(i); })
    .on('click', function(node, i) { mouse_click_l1(node, i); });

function rgb(val, mn, mx) {
    g = Math.round(255. * (val - mn) / (mx - mn));
    return 'rgb('+g+','+g+','+g+')';
}

var rgb_nodes = svg.append('g').attr('class','nodes all');

rgb_nodes
    .selectAll('rect')
    .data(nodes)
    .enter().append('rect')
    .attr('x', function(node){return left_margin + node.x * nodew;})
    .attr('y', function(node){return top_margin + node.y * nodeh;})
    .attr('width',  nodew)
    .attr('height', nodeh)
    .style('fill', function(node){return rgb(node.value, 0, 255);})
    .style('stroke', 'none')
    .on('mouseenter', function(node, i) {
        mouse_enter_l0(i % nl0);
        mouse_enter_l1(Math.floor(i / nl0)); })
    .on('click', function(node, i) {
        mouse_click_l0(node, i % nl0);
        mouse_click_l1(node, Math.floor(i / nl0)); });

var highlight0 = svg.append('rect')
    .attr('class', 'highlight0')
    .attr('width', nodew)
    .attr('height', nl1 * nodeh)
    .attr('x', left_margin)
    .attr('y', top_margin)
    .style('stroke', 'black')
    .style('fill', 'none');

var highlight1 = svg.append('rect')
    .attr('class', 'highlight1')
    .attr('width', nl0 * nodew)
    .attr('height', nodeh)
    .attr('x', left_margin)
    .attr('y', top_margin)
    .style('stroke', 'black')
    .style('fill', 'none');

function array_max(A) {
    if (A.length == 0) { return 0; }
    return A.reduce(function(a, b) { return Math.max(a, b); }, A[0]);
}
function array_min(A) {
    if (A.length == 0) { return 0; }
    return A.reduce(function(a, b) { return Math.min(a, b); }, A[0]);
}

function json_callback(X) {
    console.log('JSON callback: ' + X);

    if (!do_update) {
        return;
    }
    
    if (X == null) {
        setTimeout('json_update()', 2000);
        return;
    }
    
    packets = X['packets'];

    var pmax = array_max(packets);
    var pmin = array_min(packets);
    for (i=0; i<packets.length; i++) {
        nodes[i].value = packets[i];
    }
    
    rgb_nodes.selectAll('rect').transition()
        .style('fill', function(node){return rgb(node.value, 0, pmax);});

    // jquery update rate low/high text
    $('#rate_low').html(pmin.toFixed(3));
    $('#rate_high').html(pmax.toFixed(3));

    // L0 names
    names = X['l0'];
    // L0 IP addrs
    ips = X['l0_ip'];
    //console.log('L0 names:', names);
    for (var i=0, n=names.length; i<n; i++) {
        names_l0[i]['name'] = names[i];
        names_l0[i]['ip'] = ips[i];
    }
    svg.selectAll('.link0')
        .attr('xlink:href', function(d) { return node_url_l0(d.name, d.ip); });

    // L1 names
    names = X['l1'];
    for (var i=0, n=names.length; i<n; i++) {
        names_l1[i]['name'] = names[i];
    }
    svg.selectAll('.link1')
        .attr('xlink:href', function(d) { return node_url_l1(d.name); });
    
    setTimeout('json_update()', 2000);
}

function json_update() {
    d3.request('{{ packet_matrix_json_url }}')
        .mimeType("application/json")
        .response(function(xhr) { return JSON.parse(xhr.responseText); })
        .get(json_callback);
}

json_update();

function startUpdating() {
    do_update = true;
    json_update();
}
function stopUpdating() {
    do_update = false;
}
</script>

<p>
Rate range: <span id="rate_low">low</span> to <span id="rate_high">high</span>
</p>
<p>
Selected: L0: <a id="select_l0">---</a>, L1: <a id="select_l1">---</a>
<br />
Clicked: L0: <a id="click_l0">---</a>, L1: <a id="click_l1">---</a>
</p>
<p>
<input type="button" onClick="stopUpdating()"  value="Stop updating" />
<input type="button" onClick="startUpdating()" value="Start updating"/>
</p>

</body>
</html>
