<!doctype html>
<html>
<head>
<title>CHIME FRB L1 status</title>

<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='d3.min.js') }}"></script>

</head>

<body id="thebody">

<div id="ratematrix"></div>

<style>
</style>

<script type="text/javascript">

var do_update = true;

var bottom_margin = 20;
var left_margin = 50;

var totalW = 600;
var totalH = 400;

var W = totalW - left_margin;
var H = totalH - bottom_margin;

var svg = d3.select("#ratematrix").append('svg')
    .attr('width',  totalW)
    .attr('height', totalH);

var graph = svg.append('g')
    .attr("transform", "translate(" + left_margin + ",0)");

//var xscale = d3.scaleLinear().rangeRound([0, W]);
var xscale = d3.scaleTime().rangeRound([0, W]);
var yscale = d3.scaleLinear().rangeRound([H, 0]);

var line = d3.line()
    .x(function(d) { return xscale(d.t); })
    .y(function(d) { return yscale(d.r); });

var xaxis = d3.axisBottom(xscale);
var yaxis = d3.axisLeft(yscale);

graph.append('text')
    .attr('class', 'y axis')
    .attr('fill', '#000')
    .attr("transform", "rotate(-90)")
    .attr("y", 6)
    .attr("dy", "0.71em")
    //.attr("text-anchor", "begin")
    .text("Rate (packets/second)");

function add_axes(graph) {
    // xaxis(.) adds the axis to .
    xaxis(graph.append('g')
          .attr('transform', 'translate(0,' + H + ')')
          .attr('class', 'xaxis'));
    //.call(d3.axisBottom(xscale))
    yaxis(graph.append('g')
          .attr('class', 'yaxis'));
        //.append('g')
        //.call(d3.axisLeft(yscale))
}

var data = [];

var path = graph.append("path")
    .attr("class", "line")
    .datum(data)
    .attr("fill", "none")
    .attr("stroke", "steelblue")
    .attr("stroke-linejoin", "round")
    .attr("stroke-linecap", "round")
    .attr("stroke-width", 1.5)
    .attr("d", line(data));

function array_max(A) {
    if (A.length == 0) { return 0; }
    return A.reduce(function(a, b) { return Math.max(a, b); }, A[0]);
}
function array_min(A) {
    if (A.length == 0) { return 0; }
    return A.reduce(function(a, b) { return Math.min(a, b); }, A[0]);
}

var ratemax = 0;

function json_callback(X) {
    console.log('JSON callback: ' + X);
    if (!do_update) {
        return;
    }
    if (X == null) {
        setTimeout('json_update()', 2000);
        return;
    }

    times = X['times'];
    rates = X['rates'];
    nreplies = X['nreplies'];
    ntotal = X['ntotal'];

    console.log('' + nreplies + ' of ' + ntotal);
    
    $('#replies').html('' + nreplies + ' of ' + ntotal);
    
    var rmax = array_max(rates);
    var rmin = array_min(rates);
    var tmax = array_max(times);
    var tmin = array_min(times);

    rmax = Math.max(rmax, ratemax);
    rmin = 0.;
    ratemax = rmax;
    
    //console.log('Time: ' + tmin + ' to ' + tmax);
    //console.log('Rate: ' + rmin + ' to ' + rmax);

    var datemin = new Date(1000. * tmin);
    var datemax = new Date(1000. * tmax);
    //console.log('Dates: ' + datemin + ' to ' + datemax);

    data = [];
    for (var i=0; i<times.length; i++) {
        //data.push({ t: times[i], r: rates[i] });
        data.push({ t: new Date(1000. * times[i]), r: rates[i] });
    }

    xscale.domain([datemin, datemax]);
    yscale.domain([rmin, rmax]);

    // change the line
    //graph.selectAll('path').data(data);
    graph.select(".line").attr("d", line(data));

    //var t = graph.transition();
    // Remove and re-add the axes
    graph.select('.xaxis').remove();
    graph.select('.yaxis').remove();
    add_axes(graph);

    // add all lines
    // graph.select('.allline').remove();
    // alltimes = X['alltimes'];
    // allrates = X['allrates'];
    // console.log('alltimes:', alltimes, ' allrates:', allrates);
    // for (var i=0; i<alltimes.length; i++) {
    //     var dd = []
    //     tt = alltimes[i];
    //     rr = allrates[i];
    //     console.log('tt', tt, ' rr', rr);
    //     for (var j=0; j<tt.length; j++) {
    //         dd.push({t:new Date(1000.*tt[j]), r:rr[j]});
    //     }
    //     graph.append("path")
    //         .attr("class", "allline")
    //         .datum(dd)
    //         .attr("fill", "none")
    //         .attr("stroke", "black")
    //         .attr("stroke-linejoin", "round")
    //         .attr("stroke-linecap", "round")
    //         .attr("stroke-width", 1.5)
    //         .attr("d", line(dd));
    // }
    
    // jquery update rate low/high text
    $('#rate_low').html(rmin.toFixed(3));
    $('#rate_high').html(rmax.toFixed(3));
    
    setTimeout('json_update()', 2000);
}

function json_update() {
    d3.request('/packet-rate-l0-json/{{ node0ip }}')
        .mimeType("application/json")
        .response(function(xhr) { return JSON.parse(xhr.responseText); })
        .get(json_callback);
}

json_update();

function startUpdating() {
    do_update = true;
    json_update();
}
function stopUpdating() {
    do_update = false;
}
</script>

<p>
Rate range: <span id="rate_low">low</span> to <span id="rate_high">high</span>
</p>
<p>
Number of L1 nodes responding: <span id="replies">---</span>
</p>
<p>
<input type="button" onClick="stopUpdating()"  value="Stop updating" />
<input type="button" onClick="startUpdating()" value="Start updating"/>
</p>

</body>
</html>
