<!doctype html>
<html>
<head>
<title>CHIME FRB L1 status</title>

<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='d3.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-4/css/bootstrap.min.css') }}">

<script>
{% include "strip-chart.js" %}
</script>
    
</head>

<body id="thebody">
{% include 'includes/_navbar.html'%}

<div id="ratematrix"></div>

<p>
Total packet rate: <span id="rate_total">---</span> packets/sec
</p>
<p>
Number of L0 nodes (IP:ports) sending packets: <span id="n_l0_sending">---</span><br/>
Number of L1 nodes (IP:ports) receiving packets: <span id="n_l1_receiving">---</span><br/>
</p>
<p>
Rate range: <span id="rate_low">low</span> to <span id="rate_high">high</span>
</p>
<p>
Selected: L0: <a id="select_l0">---</a>, L1: <a id="select_l1">---</a>
<br />
Clicked: L0: <a id="click_l0">---</a>, L1: <a id="click_l1">---</a>
</p>
<p>
<input type="button" onClick="stopUpdating()"  value="Stop updating" />
<input type="button" onClick="startUpdating()" value="Start updating"/>
</p>

<div id="rategraph"></div>

<script type="text/javascript">

// Are we updating the plot?
var do_update = true;

// How many milliseconds between updates?
var update_period = 2000;

// These are the number of L0 and L1 nodes expected.  The L1 nodes are set in the config file,
// but (currently) the number of L0 nodes is set here.  There is a way to hack this: pass the
// "nl0" URL argument, like
//     http://localhost:5002/packet-matrix-d3?nl0=40
var nl0 = {{ nl0 }}; //256;
var nl1 = {{ nl1 }}; //32;

// Form a URL to view the packet rate for a given L0 node
function node_url_l0(name, ip) {
    // FIXME
    return '/packets-l0/' + name + '/' + ip;
}
// Form a URL to view the packet rate for a given L1 node
function node_url_l1(name) {
    return '/packets-l1/' + name;
}

// initialize "nodes" -- this is the data array that we pass to the d3
// matrix (which is just a grid of rectangles)
var matrix_data = [];
for (var i=0; i<nl1; i++){
    for (var j=0; j<nl0; j++){
        matrix_data.push({
            x: j,
            y: i,
            value: [0]
        });
    }
}

// The size, in pixels, of the matrix grid cells.
var nodew = Math.max(3, Math.floor(800 / nl0));
var nodeh = 8;
var top_margin = 20;
var left_margin = 20;

// Create the SVG graphic element and set its size.
var svg = d3.select("#ratematrix").append('svg')
    .attr('width', left_margin + nl0 * nodew)
    .attr('height', top_margin + nl1 * nodeh);

// Initialize the L0 and L1 node names with bogus values
var names_l0 = [];
for (var i=0; i<nl0; i++) {
    names_l0.push({ name: 'node' + i});
}

var names_l1 = [];
for (var i=0; i<nl1; i++) {
    names_l1.push({ name: 'node' + i});
}

// A rainbow colormap used for the node links
function colormap_rainbow(f) {
    // from matplotlib._cm.py
    var r = Math.round(255. * Math.abs(2 * f - 0.5));
    var g = Math.round(255. * Math.sin(f * Math.PI));
    var b = Math.round(255. * Math.cos(f * Math.PI / 2));
    return 'rgb(' + r + ',' + g + ',' + b + ')';
}

// Function called when the mouse enters either the L0 "title" bars
// (rainbow), or a matrix cell.  Moves the black outlined "highlight"
// bar, and updates the text link.
function mouse_enter_l0(i) {
    //console.log('Mouseenter ' + node + i);
    highlight0.attr('x', left_margin + i * nodew);
    $('#select_l0')
        .attr('href', node_url_l0(names_l0[i].name, names_l0[i].ip))
        .html(names_l0[i].name);
}

// Function called on a mouse click on a matrix cell
// Updates the "clicked" text
function mouse_click_l0(node, i) {
    $('#click_l0')
        .attr('href', node_url_l0(names_l0[i].name, names_l0[i].ip))
        .html(names_l0[i].name);
}

// Mouse enters an L1 title bar or matrix cell
function mouse_enter_l1(i) {
    //console.log('Mouseenter ' + node + i);
    highlight1.attr('y', top_margin + i * nodeh);
    $('#select_l1')
        .attr('href', node_url_l1(names_l1[i].name))
        .html(names_l1[i].name);
}

// Mouse click on a matrix cell
function mouse_click_l1(node, i) {
    $('#click_l1')
        .attr('href', node_url_l1(names_l1[i].name))
        .html(names_l1[i].name);
}

// Create the d3 title bar for the L0 nodes.  Each node gets an <a> link
// with a rectangle within it.
var title0 = svg.selectAll(".title0")
    .data(names_l0)
    .enter().append('a')
    .attr("xlink:href", function(d) { return ''; })
    .attr("class", "link0")
    .append('rect')
    .attr("x", function(d, i) { return left_margin + i * nodew; })
    .attr("y", 0)
    .attr("height", top_margin)
    .attr("width", nodew)
    .style('fill', function(node, i){return colormap_rainbow(i / nl0);})
    .on('mouseenter', function(node, i) { mouse_enter_l0(i); })
    .on('click', function(node, i) { mouse_click_l0(node, i); });

// Create the d3 title bar for the L1 nodes.
var title1 = svg.selectAll(".title1")
    .data(names_l1)
    .enter().append('a')
    .attr("xlink:href", function(d) { return '';})
    .attr("class", "link1")
    .append('rect')
    .attr("x", 0)
    .attr("y", function(d, i) { return top_margin + i * nodeh; })
    .attr("height", nodeh)
    .attr("width", left_margin)
    .style('fill', function(node, i){return colormap_rainbow(i / nl0);})
    .on('mouseenter', function(node, i) { mouse_enter_l1(i); })
    .on('click', function(node, i) { mouse_click_l1(node, i); });

// This function is called to produce an rgb color string for a matrix
// element given its packet rate, and the min and max.  Here, we're
// just doing a grayscale colormap.
function rgb(val, mn, mx) {
    g = Math.round(255. * (val - mn) / (mx - mn));
    return 'rgb('+g+','+g+','+g+')';
}

// These are the d3 matrix elements
var matrix_cells = svg.append('g').attr('class','nodes all');

matrix_cells
    .selectAll('rect')
    .data(matrix_data)
    .enter().append('rect')
    .attr('x', function(node){return left_margin + node.x * nodew;})
    .attr('y', function(node){return top_margin + node.y * nodeh;})
    .attr('width',  nodew)
    .attr('height', nodeh)
    .style('fill', function(node){return rgb(node.value, 0, 255);})
    .style('stroke', 'none')
    .on('mouseenter', function(node, i) {
        mouse_enter_l0(i % nl0);
        mouse_enter_l1(Math.floor(i / nl0)); })
    .on('click', function(node, i) {
        mouse_click_l0(node, i % nl0);
        mouse_click_l1(node, Math.floor(i / nl0)); });

// Create the highlight bars -- horizontal and vertical black-outlined bars
// showing the matrix row & column currently selected.
var highlight0 = svg.append('rect')
    .attr('class', 'highlight0')
    .attr('width', nodew)
    .attr('height', nl1 * nodeh)
    .attr('x', left_margin)
    .attr('y', top_margin)
    .style('stroke', 'black')
    .style('fill', 'none');

var highlight1 = svg.append('rect')
    .attr('class', 'highlight1')
    .attr('width', nl0 * nodew)
    .attr('height', nodeh)
    .attr('x', left_margin)
    .attr('y', top_margin)
    .style('stroke', 'black')
    .style('fill', 'none');

/*
function array_max(A) {
    if (A.length == 0) { return 0; }
    return A.reduce(function(a, b) { return Math.max(a, b); }, A[0]);
}
function array_min(A) {
    if (A.length == 0) { return 0; }
    return A.reduce(function(a, b) { return Math.min(a, b); }, A[0]);
}
*/

var chart = new StripChart(600, 300, '#rategraph', "Packet rate (packets/sec)",
                           60, update_period);

var chart_dates = [];
var chart_values = [];
var chart_max = 0;

// Handle the JSON data when we're updating the matrix.
function json_callback(X) {
    console.log('JSON callback: ' + X);

    if (!do_update) {
        return;
    }
    
    if (X == null) {
        setTimeout('json_update()', update_period);
        return;
    }
    
    packets = X['packets'];

    // find min and max packet rates
    var pmin_ini = 1000000;
    var pmax = 0;
    var pmin = pmin_ini;

    var ptotal = 0;
    for (const row of packets) {
        for (const r of row) {
            ptotal += r;
        }
    }
    
    // 'packets' is a matrix -- L1 elements long (rows) and L0
    // elements wide (cols).  Copy to the "matrix_data" array.
    // set matrix to zeros to start
    for (var i; i<(nl0*nl1); i++) {
        matrix_data[i].value = 0;
    }
    var l0_sending = [];
    var l1_receiving = [];
    for (var i=0; i<packets.length; i++) {
	var row = packets[i];
	for (var j=0; j<row.length; j++) {
	    if (row[j] > 0) {
		l1_receiving[i] = true;
		break;
	    }
	}
    }
    var ni = Math.min(packets.length, nl1);
    for (var i=0; i<ni; i++) {
	    var row = packets[i];
	    for (var j=0; j<row.length; j++) {
		if (row[j] > 0) {
		    l0_sending[j] = true;
		}
	    }
	    var n = Math.min(row.length, nl0);
	    for (var j=0; j<n; j++) {
		matrix_data[i * nl0 + j].value = row[j];
	        pmax = Math.max(pmax, row[j]);
	        pmin = Math.min(pmin, row[j]);
	    }
    }
    if (pmin == pmin_ini) {
	    pmin = 0;
    }

    $('#n_l0_sending').html(l0_sending.length);
    $('#n_l1_receiving').html(l1_receiving.length);

    // Now we update the d3 matrix_cells, which will pull values from the
    // matrix_data array.
    matrix_cells.selectAll('rect').transition()
        .style('fill', function(data) { return rgb(data.value, 0, pmax); });

    // jquery update rate low/high text
    $('#rate_low').html(pmin.toFixed(3));
    $('#rate_high').html(pmax.toFixed(3));

    // jquery update total packet rate text
    $('#rate_total').html(ptotal.toFixed(0));

    chart_dates.push(new Date());
    chart_values.push(ptotal);
    if (chart_dates.length > 60) {
        chart_dates.shift();
        chart_values.shift();
    }
    chart_max = Math.max(chart_max, ptotal);
    chart.ymin = 0;
    chart.ymax = chart_max;
    chart.update(chart_dates, chart_values);
    
    // Update L0 names & IP addresses
    names = X['l0'];
    ips = X['l0_ip'];
    for (var i=0, n=Math.min(names_l0.length, names.length); i<n; i++) {
        names_l0[i]['name'] = names[i];
        names_l0[i]['ip'] = ips[i];
    }
    // Update the <a href> values for the L0 title bar
    svg.selectAll('.link0')
        .attr('xlink:href', function(d) { return node_url_l0(d.name, d.ip); });

    // Update L1 names
    names = X['l1'];
    for (var i=0, n=names.length; i<n; i++) {
        names_l1[i]['name'] = names[i];
    }
    // Update the <a href> values for the L1 title bar.
    svg.selectAll('.link1')
        .attr('xlink:href', function(d) { return node_url_l1(d.name); });
    
    setTimeout('json_update()', update_period);
}

var group_l0 = 'node';

// Make a JSON request for the packet matrix; call "json_callback"
function json_update() {
    d3.request('{{ packet_matrix_json_url }}?group_l0=' + group_l0)
        .mimeType("application/json")
        .response(function(xhr) { return JSON.parse(xhr.responseText); })
        .get(json_callback);
}

// Fetch first data set!
json_update();

function startUpdating() {
    do_update = true;
    json_update();
}
function stopUpdating() {
    do_update = false;
}
</script>

</body>
</html>
